<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      {% if all_books|length == 0%}
        <p>Library is empty.</p>
      {% else %}
        {% for book in all_books %}
        <li><a href = "{{ url_for('edit_rate', id=book.id)}}">Edit Rating</a>{{book.title}} - {{book.author}} - {{book.rating}}/10</li>
        {% endfor %}
      {% endif%}
  </ul>

    <a href="/add">Add New Book</a>
  </body>
</html>
